:root{
    --Ubuntu: 'Ubuntu', sans-serif;
    --Sant: 'Open Sans', sans-serif;
    --negro: #29323C;
    --naranja1:#FC6076;
    --border1:1px solid #000;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    font-size: 16px;
}

body{
    font-family: var(--Ubuntu);
}

/* Estilos Header */

header{
    width: 100%;
    height: 4.5rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: #fff;
}

header a{
    width: 35%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content:center;
    text-decoration: none;

}

header a img{
    width: 2.2rem;
    height: auto;
    margin-right: 2rem;
}

header a h1{
    font-size: 1.5rem;
    letter-spacing: .7rem;
    color: var(--negro);
}

/* Estilos Main */
main{
    width: 100%;
    height: calc(100vh - 4.5rem);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-image: linear-gradient(to top, #dfe9f3 0%, white 100%);
    position: relative;
}

/* Estilos Imagen */
main .img{
    height: 100%;
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

main .img img{
    width: 75%;
    height: auto;
}


/* Estilos Formulario */
main form{
    margin-top: -2.5rem;
    width: 30%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border-radius: 20px;
    box-shadow: inset -2px -2px 5px 0 rgba(0, 0, 0, 0.25),inset 2px 2px 5px 0 rgba(0, 0, 0, 0.25) ;
    z-index: 2;
}

main form h2{
    font-size: 2rem;
    letter-spacing: .2rem;
    font-weight: bold;
    display: inline-block;
    color: #000;
    background: #fff;
    mix-blend-mode: multiply;
    position: relative;
    margin: 2.5rem auto 1rem auto;
    text-transform:uppercase;
}

main form h2:before {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, #29323C 0%, #3C4A83 100%);
    mix-blend-mode: screen; 
    position: absolute;
    top: 0;
    left: 0;
}

main form .inputs{
    width: 70%;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border: 4px solid transparent;
    border-radius: 20px;
    margin: 1rem 0;
    background-color: #f3f3f4;
}

main form .inputs:hover{
    background-color: #ffff;
}

main form .inputs:focus-within{
    background-color: #ffff;
}

main form .inputs:hover{
    border: 4px solid rgba(253, 125, 93, 0.582);
}


main form .inputs:focus-within{
    border: 4px solid rgba(253, 125, 93, 0.582);
}

main form .inputs img{
    width: 1.7rem;
    height: 1.7rem;
    margin: .65rem .5rem .65rem .7rem;
}

main form .inputs input{
    font-size: 1.2rem;
    padding: 0 .5rem 0 0;
    width: 80%;
    max-width: 85%;
    font-weight: 400;
    color: var(--negro);
    font-family: var(--Sant);
    outline: none;
    border: none;
    background-color: #f3f3f4;
}

main form .inputs input:hover{
    background-color: #ffff;
}

main form .inputs input:focus{
    background-color: #ffff;
}

main form .checkbox{
    margin: 0 0 2rem .5rem;
}

main form label{
    user-select: none;
}

main form .checkbox input{
    width: 1rem;
    -ms-transform: scale(1.5); /* IE */
    -moz-transform: scale(1.5); /* FF */
    -webkit-transform: scale(1.5); /* Safari and Chrome */
    -o-transform: scale(1.5); /* Opera */
    transform: scale(1.5);
    padding: 10px;
    margin-left: .7rem;
}

main form .checkbox input:checked{
    color: #FC6076;
}

main form input[type="submit"]{
    font-size: .9rem;
    color: #fff;
    font-weight: bold;
    letter-spacing: .2rem;
    text-decoration: none;
    transition: .3s;
    background: linear-gradient(180deg, #FF9A44 0%, #FC6076 100%);
    padding: .8rem 1.6rem;
    border-radius: 20px;
    outline: none;
    border: none;
    width: fit-content;
    margin: 0 auto 2rem ;
}

main form input[type="button"]{
    font-size: .9rem;
    color: #fff;
    font-weight: bold;
    letter-spacing: .2rem;
    text-decoration: none;
    transition: .3s;
    background-image: linear-gradient(to top, #4481eb 0%, #04befe 100%);
    padding: .8rem 1.6rem;
    border-radius: 5px;
    outline: none;
    border: none;
    width: fit-content;
    margin: .5rem auto 2rem ;
}

main form input[type="submit"]:hover{
    cursor: pointer;
}

main form input[type="button"]:hover{
    cursor: pointer;
}


main .bg_img_1{
    position: absolute;
    bottom: 1rem;
    right: 3rem;
    /* transform: rotate(-36deg); */
    width: 25rem;
}

main .bg_img_2{
    position: absolute;
    bottom: 10rem;
    left: 3rem;
    width: 15rem;
    transform: rotate(-36deg);
    width: 20rem;
}



/* FORMULARIO CREAR CUENTA */
.DivForm{
    width: 0;
    height: 0;
    display: none;
    visibility: hidden;
    opacity: 0;
    z-index: -1;
}

.DivForm.activo{
    width: 100%;
    height: 100vh;
    visibility: visible;
    opacity: 1;
    position: fixed;
    background-color: rgba(41, 50, 60, 0.5);
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 3;
    display: flex;
    align-items: center;
    justify-content: center;
}

.DivForm form{
    width: 35%;
    height: 80%;
    background-color: #fff;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
}


.DivForm form h2{
    font-size: 2rem;
    letter-spacing: .2rem;
    font-weight: bold;
    display: inline-block;
    color: #000;
    background: #fff;
    mix-blend-mode: multiply;
    position: relative;
    margin: 2.5rem auto 1rem auto;
    text-transform:uppercase;
    width: 100%;
    text-align: center;
}

.DivForm form h2:before {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to top, #4481eb 0%, #04befe 100%);
    mix-blend-mode: screen; 
    position: absolute;
    top: 0;
    left: 0;
}

.DivForm form div{
    width: 80%;
    height:auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1rem 10%;
}

.DivForm form div input{
    font-size: 1.2rem;
    padding:.2rem .8rem;
    width: 48%;
    font-weight: 400;
    color: var(--negro);
    font-family: var(--Sant);
    outline: none;
    border: none;
    background-color: #f3f3f4;
    border: 4px solid transparent;
    border-radius: 20px;
    text-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.25);
}

.DivForm form input.input{
    font-size: 1.2rem;
    padding:.2rem .8rem;
    width: 80%;
    margin: 0 10% 1rem 10%;
    font-weight: 400;
    color: var(--negro);
    font-family: var(--Sant);
    outline: none;
    border: none;
    background-color: #f3f3f4;
    border: 4px solid transparent;
    border-radius: 20px;
    text-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.25);
}

.DivForm form input:hover{
    background-color: #ffff;
    border: 4px solid rgba(4, 190, 254,0.7);
}

.DivForm form input:focus{
    background-color: #ffff;
    border: 4px solid rgba(4, 190, 254,0.7);
}

.DivForm form input[type="submit"]{
    font-size: .9rem;
    color: #fff;
    font-weight: bold;
    letter-spacing: .2rem;
    text-decoration: none;
    transition: .3s;
    background-image: linear-gradient(to top, #4481eb 0%, #04befe 100%);
    padding: .8rem 1.6rem;
    border-radius: 20px;
    outline: none;
    border: none;
    width: fit-content;
    margin: 2rem auto 2rem;
    cursor: pointer;
}

.DivForm form .checkbox2{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: .2rem .5rem;
    margin: 0 10% 1rem 10%;
}


.DivForm form .checkbox2 input{
    width: 1rem;
    -ms-transform: scale(1.5); /* IE */
    -moz-transform: scale(1.5); /* FF */
    -webkit-transform: scale(1.5); /* Safari and Chrome */
    -o-transform: scale(1.5); /* Opera */
    transform: scale(1.5);
    padding: 10px;
    margin-left: .7rem;
}


.DivForm form .exitForm{
    width: 2.5rem;
    height: 2.5rem;
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 3ex;
    border-radius: 50%;
    font-weight: 700;
    color: #fff;
    background-image: linear-gradient(to top, #4481eb 0%, #04befe 100%);
    outline: none;
    border: none;
    cursor: pointer;
}


/* Diseño Responsivo */
@media screen and (max-width: 1280px) {
    /* height:720px */
}

@media screen and (max-width: 1024px) {
    /* height:720px */
    header a {
        width: 45%;
    }
    
    main .img {
        width: 40%;
    }    

    main form {
        margin-top: -2.5rem;
        width: 37%;
    }

    .DivForm form {
        width: 45%;
    }
}


@media screen and (max-width: 854px) {
    html{
        font-size: 14px;
    }

    header a {
        width: 50%;
    }
}

@media screen and (max-width: 768px) {
    html{
        font-size: 13px;
    }
}

@media screen and (max-width: 640px) {
    header {
        justify-content: center;
    }

    main .img {
        height: 0;
        width: 0;
        display: none;
        z-index: -1;
        visibility: hidden;
        opacity: 0;
    }

    main .bg_img_2 {
        z-index: -1;
        visibility: hidden;
        opacity: 0;
        display: none;
        width: 0;
        height: 0;
    }

    main form {
        width: 45%;
    }

    .DivForm form {
        width: 55%;
    }

}


@media screen and (max-width: 540px) {
    main form {
        width: 55%;
    }

    .DivForm form {
        width: 65%;
    }

    main form h2 {
        font-size: 1.8rem;
    }
}

@media screen and (max-width: 425px) {
    html{
        font-size: 12px;
    }

    main form {
        width: 65%;
    }

    .DivForm form {
        width: 75%;
        height: 70%;
    }
}

@media screen and (max-width: 375px) {

    main form {
        width: 70%;
    }

    .DivForm form {
        width: 75%;
        height: 70%;
    }
}

@media screen and (max-width: 320px) {
    main form {
        width: 89%;
    }

    .DivForm form {
        width: 80%;
        height: 65%;
    }

    .DivForm form {
        height: 70%;
    }

    .DivForm form {
        width: 90%;
    }
}

